{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Dashboard Template{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!-- Custom dashboard styles -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Company name</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/authentication/login/">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
    <div class="row">
      <!-- Include the sidebar -->
      <div class="col-md-3 order-md-1">
        {% include 'partials/_sidebar.html' %}
      </div>
  
      <!-- Main content area -->
      <main role="main" class="col-md-9 ml-sm-auto px-md-4 order-md-2">
        {% block content %} 
          <!-- Content goes here -->
        {% endblock %}
      </main>
    </div>
  </div>


<!-- Bootstrap and other required JavaScript libraries -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.6/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-dgR/XyNhZvZyxp6eM5/3swv2tzo1I26MW/0uNb3Uo4bF3rv5nR2IM+QDEmI9I5fJ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="{% static 'js/main.js' %}"></script></body>
</html>
