{% extends 'base_auth.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Set New Password</h1>
        
        <!-- Form for setting a new password -->
        <form method="post">
            {% csrf_token %}
            
            <!-- Password input -->
            <div class="form-group">
                <label for="id_password">New Password:</label>
                <input type="password" id="id_password" name="password" class="form-control" required>
            </div>
            
            <!-- Confirm password input -->
            <div class="form-group">
                <label for="id_confirm_password">Confirm New Password:</label>
                <input type="password" id="id_confirm_password" name="confirm_password" class="form-control" required>
            </div>
            
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Set Password</button>
        </form>
    </div>
</div>

{% endblock content %}
